* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
body {


    /* color: #445361; */
    font-family: 'Open Sans', Arial, sans-serif;
	/* margin: 0; */
	background-color: white;
    
    height: 100%;
}


.entire {
    height: 100%;
}

.container{
    border: 1px solid brown;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    max-width: 1170px;
    overflow: hidden;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col {
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  

.headingChart{
    height: 50%;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
    /* height: 20%;   */
}
.curve_chart{
    width: 100%; 
    height: 450px;  
    color: '#871b47';
    margin-bottom: 0px;
    /* border: 1px solid green; */
    /* height: 80%;   */
}

.main-container{
    width: 100%;
    height: 50%;
    /* border: 1px solid green; */
    margin: 0 auto; 
    
}

.stats-area{
    

    text-align: center;
 

    float:left; 
  
    width:50%;
    height:280px;

}

.maps-area{
    float:left; 
    display: block; 
    height: 100%; 
    width:50%;
    overflow: hidden;
    
    /* border: 1px solid green; */
}

.maps-area iframe{
 
    width: 100%;
    height: 390px;
    border: none;
    margin: 0;
    
    display: block;
}
.logo {
    height: 40px;
    padding-right: 5px;
}

.stats{
    line-height: 75px;
    
}

.btn-big-left{
    float: left;
 
    left: 200px;
     top: -50%; 
}
.btn-big-right{
    float: left;
    
    right: 200px;
    top: -50%; 
}


@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
