
body {


    /* color: #445361; */
    font-family: 'Open Sans', Arial, sans-serif;
	/* margin: 0; */
	background-color: white;
    
    height: 100%;
}

.entire {
    height: 100%;
}
.headingChart{
    height: 50%;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
    /* height: 20%;   */
}
.curve_chart{
    width: 100%; 
    height: 450px;  
    color: '#871b47';
    margin-bottom: 0px;
    /* height: 80%;   */
}

.main-container{
    width: 100%;
    

    margin: 0 auto; 
    
}

.stats-area{
    
    /* width: 1000px;
    height: 0;  */

    float:right; 
    /* background:Green; */
    width:50%;
    height:280px;
    /* height: 50%;   */
    margin: 0 auto; 
}

.maps-area{
 
    display: table-row; 
    height: 100%; 
    width:50%;
    overflow: hidden 
}
.maps-area iframe{
 
    width: 200;
    height: 100;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
}
.logo {
    height: 40px;
    padding-right: 5px;
}

.stats{
    line-height: 75px;
    
}




.btn-big-left{
    float: left;
 
    left: 200px;
     top: -50%; 
}
.btn-big-right{
    float: right;
    
    right: 200px;
    top: -50%; 
}



   


